/*. GENERAL  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  border-radius: 50%;
}

.back {
  height: 100vh;
  background-color: #d9dbd5;
  position: relative;
}

.back-top {
  background-color: #009688;
  height: 200px;
}

.container {
  background-color: #fff;
  width: 1270px;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.container-left,
.container-right {
  height: 100%;
}

/*. LEFT  */

.container-left {
  width: 40%;
}
.container-right {
  width: 60%;
}

.nav-left,
.nav-right {
  height: 80px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.nav-left {
  border-right: 0.4px solid grey;
}

.nav-left img,
.nav-right img {
  height: 80%;
  padding: 0 10px;
}

.nav-left p {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.3em;
  padding-left: 10px;
}

.nav-left i,
.nav-right i {
  font-size: 25px;
  padding: 0 10px;
  color: grey;
}

/*. NOTIFICHE  */

.avvisi {
  height: 90px;
  background-color: #8edafc;
  display: flex;
}

.avvisi .bells {
  width: 20%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avvisi .bells i {
  background-color: #fff;
  color: #8edafc;
  padding: 15px;
  border-radius: 50%;
}

.bells-text {
  padding: 20px 0;
}

.bells-text p {
  padding: 5px 0;
  font-weight: 500;
}

.bells-text p:last-child {
  padding: 0;
  font-weight: 300;
  color: grey;
  text-decoration: underline;
}

/*. SEARCH BAR  */

.search-bar {
  background-color: #fafafa;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 90%;
  height: 90%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search i {
  color: #b6b9bb;
  width: 10%;
  font-size: 20px;
  padding: 10px;
}

.search input {
  width: 90%;
  height: 100%;
  border: 0;
  font-size: 18px;
  color: #b6b9bb;
}

.search input:focus {
  border: 0;
  outline: 0;
}

/*. CHAT  */

.chat {
  height: calc(100% - 240px);
  overflow-y: auto;
}

.user-chat {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.user-chat:hover {
  background-color: rgb(185, 216, 255);
}

.user-img {
  width: 20%;
}

.user-img img {
  width: 80%;
}

.user-name {
  flex-grow: 1;
  padding: 10px 0;
  font-size: 1.3em;
}

/*. RIGHT  */

.nav-name {
  flex-grow: 1;
}

.nav-name p:first-child {
  font-size: 20px;
  padding-bottom: 5px;
}

.nav-name p:last-child {
  color: grey;
  font-size: 15px;
}

.chat-area {
  height: calc(100% - 80px - 90px);
  overflow-y: scroll;
  background-image: url(img/mine.jpg);
}

.chat-input {
  background-color: #f3eeea;
  height: 90px;
  display: flex;
}

.emoticons,
.audio {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #6b7376;
}

.write-message {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.write-message input {
  width: 100%;
  height: 80%;
  font-size: 1.5em;
  border: 0.2px solid lightgrey;
  padding: 15px;
  color: rgb(194, 194, 194);
}

.write-message input:focus {
  color: black;
}

.write-message input:focus {
  outline: 0;
}

.message {
  max-width: 50%;
  word-wrap: break-word;
  padding: 10px 15px;
  margin: 15px 10px;
  position: relative;
  font-size: 20px;
}

.in {
  border-radius: 30px 30px 30px 5px;
  background-color: white;
  float: left;
  clear: both;
}

.out {
  border-radius: 30px 30px 5px 30px;
  background-color: #dcf8c6;
  float: right;
  clear: both;
}

.date {
  text-align: right;
  font-size: 10px;
  color: grey;
  padding-top: 5px;
}
