<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!--. Sfondo  -->

    <div class="back">
        <div class="back-top"></div>
    </div>

    <!--.. CONTENITORE -->
    <div id="app" class="container">

        <!--. LEFT BAR  -->
        <div class="container-left">

            <!-- NAV  -->
            <div class="nav-left">
                <img v-for="(contatto,index) in contatti" v-if="contatto.nome == 'Valerio De Vivo'" :src="contatto.avatar" alt="">

                <p  v-for="(contatto,index) in contatti" v-if="contatto.nome == 'Valerio De Vivo'">
                    {{contatto.nome}}
                </p>

                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>


            <!-- NOTIFICHE  -->
            <div class="avvisi">
                <div class="bells">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="bells-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p>Attiva notifiche Desktop</p>
                </div>
            </div>

            <!-- BARRA DI RICERCA  -->
            <div class="search-bar">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <!-- CHAT  -->

            <div class="chat">

                <div v-if="contatto.nome != 'Valerio De Vivo'" v-for="(contatto,index) in contatti" @click="attivo(index)" class="user-chat">
                    <div class="user-img">
                        <img :src="contatto.avatar" alt="av2">
                    </div>
    
                    <div class="user-name">
                        <p > {{contatto.nome}} </p>
                    </div>
                </div>

                
            </div>

        </div>

        <!--. RIGHT BAR  -->
            <div class="container-right">
                <div class="nav-right">
                    <img :src="active.avatar" alt="">

                    <div class="nav-name">
                        <p> {{active.nome}} </p>
                        <p v-if="active.nome != '' ">Ultimo accesso alle</p>
                    </div>

                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

                <div class="chat-area">
                    
                </div>

                <div class="chat-input">
                    <div class="emoticons">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="write-message">
                        <input type="text" placeholder="Scrivi un messaggio">
                    </div>

                    <div class="audio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>


    </div>
    
    

    <script src="js/script.js"></script>
</body>
</html>