<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!--. Sfondo  -->

    <div class="back">
        <div class="back-top"></div>
    </div>

    <!--.. CONTENITORE -->
    <div id="app" class="container">

        <!--. LEFT BAR  -->
        <div class="container-left">

            <!-- NAV  -->
            <div class="nav-left">
                <img :src="contatti[0].avatar" alt="">

                <p>
                    Valerio
                </p>

                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>


            <!-- NOTIFICHE  -->
            <div class="avvisi">
                <div class="bells">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="bells-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p>Attiva notifiche Desktop</p>
                </div>
            </div>

            <!-- BARRA DI RICERCA  -->
            <div class="search-bar">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input v-model="search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <!-- CHAT  -->

            <div class="chat">

                <div v-if="contatto.nome != 'Valerio De Vivo'" v-for="(contatto,index) in contatti" @click="attivo(index)" >
                    <div v-if="contatto.nome.includes(search.charAt(0).toUpperCase() + search.slice(1))" class="user-chat">
                        <div class="user-img">
                            <img :src="contatto.avatar" alt="av2">
                        </div>
        
                        <div class="user-name">
                            <p > {{contatto.nome}} </p>
                            <p class="last"> 
                                <span class="lastdate">{{contatto.messages.slice(-1)[0].date}}</span>

                                <span :class="(index != contatore) ? sostituisci : '' ">
                                    <span v-if="sostituisci == 'mostra' ">
                                    </span>

                                    <span style="color: black;" v-else>
                                        sta scrivendo . . .
                                    </span>
                                </span>

                                <span :class="(index == contatore) ? sostituisci : '' ">
                                    {{contatto.messages.slice(-1)[0].text}}
                                </span>
                                
                                
                            </p>
                        </div>
                    </div>
                </div>

                
            </div>

        </div>

        <!--. RIGHT BAR  -->
            <div class="container-right">
                <div class="nav-right">
                    <img :src="active.avatar" alt="">

                    <div class="nav-name">
                        <p> {{active.nome}} </p>
                        <p v-if="active.nome != '' ">Attivo</p>
                    </div>

                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

                <div id="chat" class="chat-area">
                    <div v-for=" (dati,index) in contatti[contatore].messages">
                        <div>
                            <!-- .MESS IN  -->
                            <div v-if="dati.status == 'sent' " class="message in">
                                {{dati.text}} <div class="date"> {{dati.date}} </div>
                                <div @click="hoverinfo(index)" class="info" >
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="info-option" :class="(index == indice) ? hover : '' ">
                                    <p @click="cancellamess(index)"> Elimina messaggio</p>
                                </div>
                            </div>
                            
                            <!-- .MESS OUT  -->

                            <div v-if="dati.status == 'received' "  class="message out">
                                {{dati.text}} <div class="date"> {{dati.date}} </div>
                                <div @click="hoverinfo(index)" class="info">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="info-option" :class="(index == indice) ? hover : '' ">
                                    
                                    <p @click="cancellamess(index)"> Elimina messaggio</p>
                                </div>
                            </div>
    
                        </div>
                        
                    </div>
                </div>

                <div class="chat-input">
                    <div class="emoticons">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="write-message">
                        <input v-model="write" @keyUp.enter="writeMex" type="text" placeholder="Scrivi un messaggio">
                    </div>

                    <div class="audio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>


    </div>
    
    

    <script src="js/script.js"></script>
</body>
</html>